<!DOCTYPE html>
<html class="no-js">
<head>
    <title>TrackSelf | Register</title>
    {% include 'css.html' %}
    <style>
        #fh5co-logo a {
        color: #ff5722;
        text-transform: none;
        font-family: Garamond;
        font-size: 42px;
        }
        label {
        display:none;
        }
    </style>
</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo" class="col-sm-2"><a href="/">TrackSelf</a></h1>
                    <nav id="fh5co-menu-wrap" role="navigation" class="col-sm-10">
                        <ul class="sf-menu" id="fh5co-primary-menu">
                            <li>
                                <a href="login">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="fh5co-contact" class="animate-box">
            <div class="container">
                {% from "security/_macros.html" import render_field_with_errors, render_field %}
                {% include "security/_messages.html" %}
                <form action="{{ url_for_security('register') }}" method="POST" id="register_user_form">
                    <div class="row">
                        {{ register_user_form.hidden_tag() }}
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ render_field_with_errors(register_user_form.username) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ render_field_with_errors(register_user_form.email) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ render_field_with_errors(register_user_form.password) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {% if register_user_form.password_confirm %}
                                {{ render_field_with_errors(register_user_form.password_confirm) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ render_field(register_user_form.submit) }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
	(function() {
		document.getElementById('username').setAttribute('class','form-control');
		document.getElementById('username').setAttribute('placeholder','User Name');
		document.getElementById('email').setAttribute('class','form-control');
		document.getElementById('email').setAttribute('placeholder','Email');
		document.getElementById('password').setAttribute('class','form-control');
		document.getElementById('password').setAttribute('placeholder','Password');
		document.getElementById('password_confirm').setAttribute('class','form-control');
		document.getElementById('password_confirm').setAttribute('placeholder','Retype Password');
		document.getElementById('submit').setAttribute('class','btn btn-primary');
	})();
</script>
</body>
</html>