<!DOCTYPE html>
<html>
<head>
    <style>div{margin: 10px;}</style>
    <title>Update Student</title>
</head>
<body>
<h1>Update Student</h1>
<form action="/student/{{ student['student_id'] }}/update" method="POST" id="update-student-form">
<div>
<label>Roll Number:</label>
<input type="text" name="roll" value="{{ student['roll_number'] }}" disabled />
</div>
<div>
<label>First Name:</label>
<input type="text" name="f_name" value="{{ student['first_name'] }}" required />
</div>
<div>
<label>Last Name:</label>
<input type="text" name="l_name" value="{{ student['last_name'] }}"/>
</div>
<div>
<label for="courses">Select Course: </label>
<select name="course" id="course">
    {% for course in courses%}
<option value="{{ course['course_id'] }}">{{ course['course_code'] }}</option>
    {% endfor %}
</select>
</div>
<div>
<input type="submit" value = "Update">
</div>
</form>
</body>
</html>