<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<script>
$(function() {
  $('#datetimepicker1').datetimepicker({
    format: 'YYYY-MM-DDThh:mm:ss'
});
});
</script>
<script src="../../../static/js/bootstrap.min.js"></script>
<script src="../../../static/js/jquery.waypoints.min.js"></script>
<script src="../../../static/js/sticky.js"></script>
<script src="../../../static/js/jquery.stellar.min.js"></script>
<script src="../../../static/js/hoverIntent.js"></script>
<script src="../../../static/js/superfish.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="../../../static/js/google_map.js"></script>
<script src="../../../static/js/main.js"></script>