<!DOCTYPE html>
<html>
<head>
    <style>div{margin: 10px;}</style>
    <title>Update Student</title>
</head>

<body>
<script>
function to_seconds(dd,hh,mm) {
  d = parseInt(dd);
  h = parseInt(hh);
  m = parseInt(mm);
  if (isNaN(d)) d = 0;
  if (isNaN(h)) h = 0;
  if (isNaN(m)) m = 0;

  t = d * 24 * 60 * 60 +
      h * 60 * 60 +
      m * 60;
  return t;
}

// expects 1d 11h 11m, or 1d 11h,
// or 11h 11m, or 11h, or 11m, or 1d
// returns a number of seconds.
function parseDuration(sDuration) {
  if (sDuration == null || sDuration === '') return 0;
  mrx = new RegExp(/([0-9][0-9]?)[ ]?m/);
  hrx = new RegExp(/([0-9][0-9]?)[ ]?h/);
  drx = new RegExp(/([0-9])[ ]?d/);
  days = 0;
  hours = 0;
  minutes = 0;
  if (mrx.test(sDuration)) {
    minutes = mrx.exec(sDuration)[1];
  }
  if (hrx.test(sDuration)) {
    hours = hrx.exec(sDuration)[1];
  }
  if (drx.test(sDuration)) {
    days = drx.exec(sDuration)[1];
  }

  return to_seconds(days, hours, minutes);
}

// outputs a duration string based on
// the number of seconds provided.
// rounded off to the nearest 1 minute.
function toDurationString(iDuration) {
  if (iDuration <= 0) return '';
  var m = Math.floor((iDuration/60)%60);
  var h = Math.floor((iDuration/3600)%24);
  var d = Math.floor(iDuration/86400);
  result = ''
  if (d > 0) result = result + d + 'd ';
  if (h > 0) result  = result + h + 'h ';
  if (m > 0) result  = result + m + 'm ';
  return result.substring(0, result.length - 1);
}

$(function() {
  $("input.duration").change(function(event, ui) {
    event.preventDefault();
    var field = $(this);
    var sd = field.val();
    seconds = parseDuration(sd);
    if (sd !== '' && seconds === 0) {
      field.css('background-color','red');
      field.focus();
    } else {
      field.val(toDurationString(seconds));
      field.css('background-color', 'green');
    }
  });
});

</script>
<h1>Hello {{ username }}!</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<div style="text-align:left;">
<a href="/tracker">Back to Trackers</a>
</div>
<h2>Log {{ tracker['name'] }}</h2>
<form action="/tracker/{{ tracker['id'] }}/log/{{ log['id'] }}/update" method="POST" id="log-form">
<div>
<label>When</label>
<input type="datetime-local" name="timestamp" value="{{ log['timestamp'] }}" required/>
</div>
<div>
<label>Value</label>
    {% if tracker['type'] == 'choice'%}
        {% set list = tracker['settings'].split(',') %}
        </br>
        {% for choice in list %}
        <input type="checkbox" name="value" value="{{ choice }}" {% if choice in log.value%}checked='checked'{% endif %}> {{ choice }}<br>
        {% endfor %}
    {% elif tracker['type'] == 'duration'%}
        <input type="text" name='value' value="{{ log['value'] }}" class="duration"/>
    {% elif tracker['type'] == 'boolean'%}
        <select name="value" id="value">
          <option value="1" {% if log.value=='true'%}selected='selected'{% endif %}>Yes</option>
          <option value="-1" {% if log.value=='false'%}selected='selected'{% endif %}>No</option>
        </select>
    {% elif tracker['type'] == 'numeric'%}
        <input type="number" name='value' step='0.01' value="{{ log['value'] }}" required/>
    {% else %}
        <input type="text" name="value" value="{{ log['value'] }} required />
    {% endif %}
</div>
<label for="notes">Notes</label>
<textarea id="notes" name="notes" rows="3" cols="50">{{ log['note'] }}</textarea>
<div>
<input type="submit" value = "Log it">
</div>
</form>

</body>
</html>