<!DOCTYPE html>
<html class="no-js">
<head>
    <title>TrackSelf | Log | Create</title>
    {% include 'css.html' %}
    <style>
        #fh5co-logo a {
        color: #ff5722;
        text-transform: none;
        font-family: Garamond;
        font-size: 42px;
        }
        a {
        color: #ff5722 !important;
        }
    </style>
</head>
<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo" class="col-sm-2"><a href="/">TrackSelf</a></h1>
                    {% include 'login-state.html' %}
                </div>
            </div>
        </header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/trackers">Trackers</a></li>
                <li class="breadcrumb-item"><a href="/trackers/{{ tracker['id'] }}">{{ tracker['name'] }}</a></li>
                <li class="breadcrumb-item"><a href="/trackers/{{ tracker['id'] }}/logs">Logs</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>
        <div id="fh5co-contact" class="animate-box">
            <div class="container">

                <form action="/trackers/{{ tracker['id'] }}/logs/create" method="POST" id="log-form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="timestamp" placeholder="When"
                                           required/>
                                    <span class="input-group-addon">
                                   <span class="glyphicon glyphicon-calendar"></span>
                                   </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                Value
                                {% if tracker['type'] == 'choice'%}
                                {% set list = tracker['settings'].split(',') %}
                                {% for choice in list %}
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="value" value="{{ choice }}">
                                <label class="custom-control-label" for="value">
                                    {{ choice }}
                                 </label>
                                </div>
                                {% endfor %}
                                {% elif tracker['type'] == 'duration'%}
                                <input type="text" class="form-control" name='value' class="duration"/>
                                {% elif tracker['type'] == 'boolean'%}
                                <select name="value" class="form-control" id="value">
                                    <option value="default" selected disabled hidden>Type</option>
                                    <option value="1">True</option>
                                    <option value="-1">False</option>
                                </select>
                                {% elif tracker['type'] == 'numeric'%}
                                <input type="number" class="form-control" name='value' step='0.01'/>
                                {% else %}
                                <input type="text" class="form-control" name="value" required/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="notes" class="form-control" name="notes" rows="3" cols="50" placeholder="Notes"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button id="cancelButton" class="btn btn-primary" onclick="cancel({{ tracker['id'] }})">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

</div>
<script type="text/javascript">
    function cancel(tracker_id) {
        location.href = "/trackers/".concat(tracker_id).concat("/logs");
    };
</script>
 {% include 'calendar.html' %}
</body>
</html>