<!DOCTYPE html>
<html class="no-js">
<head>
    <title>TrackSelf | Tracker</title>
    {% include 'css.html' %}
</head>
<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo" class="col-sm-2"><a href="/">TrackSelf</a></h1>
                    {% include 'login-state.html' %}
                </div>
            </div>
        </header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/trackers">Trackers</a></li>
                <li class="breadcrumb-item"><a href="/trackers/{{ tracker['id'] }}">{{ tracker['name'] }}</a></li>
                <li class="breadcrumb-item"><a href="/trackers/{{ tracker['id'] }}/logs">Logs</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ log['id'] }}</li>
            </ol>
        </nav>
        <div id="fh5co-contact" class="animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tracker-table" class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Log ID</th>
                                <td>{{ log['id'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Tracker ID</th>
                                <td>{{ log['tracker'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Timestamp</th>
                                <td>{{ log['timestamp'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Value</th>
                                <td>{{ log['value'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Note</th>
                                <td>{{ log['note'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="updateButton" class="btn btn-primary"
                                        onclick="update_log({{ tracker['id'] }}, {{ log['id'] }})">Update Log
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="deleteButton" class="btn btn-primary"
                                        onclick="delete_log({{ tracker['id'] }}, {{ log['id'] }})">Delete Log
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function update_log(tracker_id, log_id) {
                location.href = "/trackers/" + tracker_id + "/logs/" + log_id + "/update";
            };
            function delete_log(tracker_id, log_id) {
                location.href = "/trackers/" + tracker_id + "/logs/" + log_id + "/delete";
            };

        </script>
    </div>
</div>
{% include 'javascript.html' %}
</body>
</html>