<!DOCTYPE html>
<html>
<head>
    <style>div{margin: 10px;}</style>
    <title>Update Student</title>
</head>
<body>
<h1>Hello User</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<form action="/student/{{ student['student_id'] }}/update" method="POST" id="log-form">
<div>
<label>When</label>
<input type="text" name="roll" value="{{ student['roll_number'] }}" required/>
</div>
<div>
<label>Value</label>
<input type="text" name="f_name" value="{{ student['first_name'] }}" required />
</div>
<label for="notes">Notes</label>
<textarea id="notes" name="notes" rows="3" cols="50"></textarea>
<div>
<input type="submit" value = "Log it">
</div>
</form>
</body>
</html>