<!DOCTYPE html>
<html>
<head>
    <style>div{margin: 10px;}</style>
    <title>Update Student</title>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<h2>Log {{ tracker['name'] }}</h2>
<form action="/tracker/{{ tracker['id'] }}/log" method="POST" id="log-form">
<div>
<label>When</label>
<input type="datetime-local" name="timestamp" required/>
</div>
<div>
<label>Value</label>
<input type="text" name="value" required />
</div>
<label for="notes">Notes</label>
<textarea id="notes" name="notes" rows="3" cols="50"></textarea>
<div>
<input type="submit" value = "Log it">
</div>
</form>
</body>
</html>