<nav id="fh5co-menu-wrap" role="navigation" class="col-sm-10">
    <ul class="sf-menu" id="fh5co-primary-menu">
         {% if current_user.is_authenticated %}
            {% if "admin" in current_user.roles%}
                <li>
                    <a href="/admin/users">Users</a>
                </li>
            {% endif %}
            <li>
                <a href = "#">{{current_user.username}}</a>
            </li>
            <li>
                <a href = "/logout">Logout</a>
            </li>
        {% else %}
            <li>
                <a href = "/login">Login</a>
            </li>
            <li>
                <a href = "/register">Register</a>
            </li>
        {% endif %}
    </ul>
</nav>

