<!DOCTYPE html>
<html class="no-js">
<head>
    <title>TrackSelf | Logs</title>
    {% include 'css.html' %}
</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo" class="col-sm-2"><a href="/">TrackSelf</a></h1>
                    {% include 'login-state.html' %}
                </div>
            </div>
        </header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/trackers">Trackers</a></li>
                <li class="breadcrumb-item"><a href="/trackers/{{ tracker['id'] }}">{{ tracker['name'] }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Logs</li>
            </ol>
        </nav>
        <div id="fh5co-contact" class="animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <label for="period">Filter</label>
                        <select name="period" id="period" class="form-control form-control-lg" placeholder="Filter"
                                onchange="redirect({{ tracker['id'] }}, document.getElementById('period').value)">
                            <option value="1" {% if last_days==1%}selected='selected'{% endif %}>Last 24 hours</option>
                            <option value="7" {% if last_days==7%}selected='selected'{% endif %}>Last 7 days</option>
                            <option value="30" {% if last_days==30%}selected='selected'{% endif %}>Last 30 days</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div id="tracking-graph">
                            <div id="myPlot"></div>
                        </div>
                        <h2>Logs</h2>
                        <table id="tracker-logs" class="table">
                            <thead>
                            <th scope="col">ID</th>
                            <th scope="col">On</th>
                            <th scope="col">Value</th>
                            <th scope="col">Note</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            </thead>
                            <tbody>
                            {% for log in logs%}
                            <tr>
                                <td><a href="/trackers/{{ tracker['id'] }}/logs/{{ log['id'] }}">{{ log['id'] }}</a>
                                </td>
                                <td>{{ log['timestamp'] }}</td>
                                <td>
                                    {% if tracker['type'] == 'boolean'%}
                                    {% if log['value'] == '1'%}
                                    True
                                    {% else %}
                                    False
                                    {% endif %}
                                    {% else %}
                                    {{ log['value'] }}
                                    {% endif %}
                                </td>
                                <td>{{ log['note'] }}</td>
                                <td><a href="/trackers/{{ tracker['id'] }}/logs/{{ log['id'] }}/update"><i
                                        class="glyphicon glyphicon-pencil"></i></a></td>
                                <td><a href="/trackers/{{ tracker['id'] }}/logs/{{ log['id'] }}/delete"><i
                                        class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button id="myButton" class="btn btn-primary" onclick="add_log({{ tracker['id'] }})">Add
                                    Log
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function add_log(tracker_id) {
        location.href = "/trackers/" + tracker_id + "/logs/create";
    };
</script>
{% include 'plotly.html' %}
{% include 'javascript.html' %}
</body>
</html>