<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://s0-azure.assets-yammer.com/assets/platform_embed.js"></script>
<script type="text/javascript">
    function redirect(tracking_id, value){
        window.location.href='?lastdays='.concat(value);
    }
    function plot(xArray,yArray, type, settings) {
        //console.log(type);
        // Define Layout
        var layout = {
          xaxis: {title: "Time stamp"},
          yaxis: {title: "Value"},
          title: "Trend line"
        };
        var data;
        if (type=='boolean') {
             data = [{
              x: xArray,
              y: yArray,
              type:"bar"
            }];
            layout.title= "Trend line (True=1, False=-1)"
        } else if (type=='choice') {
             settingsList=settings.split(',');
             data = [];
             settingsList.forEach(function(setting){
                choicesList=[]
                yArray.forEach(function(options) {
                    if(options.includes(setting)){
                        choicesList.push(1);
                    } else {
                        choicesList.push(0);
                    }
                });
                data.push({
                      x: xArray,
                      y: choicesList,
                      type:"bar",
                      name:setting
                });
              });
            layout.barmode='stack'
        } else {
             data = [{
              x: xArray,
              y: yArray,
              mode:"lines"
            }];
        }
        // Display using Plotly
        console.log(data)
        Plotly.newPlot("myPlot", data, layout);
    }
    plot({{ timestamps|safe }},{{ values|safe }}, '{{ tracker['type'] }}', '{{ tracker['settings'] }}')
    // MAKE THE PLOTS RESPONSIVE
    (function() {
      var d3 = Plotly.d3;
      var WIDTH_IN_PERCENT_OF_PARENT = 100,
          HEIGHT_IN_PERCENT_OF_PARENT = 90;

      var gd3 = d3.selectAll(".responsive-plot")
          .style({
            width: WIDTH_IN_PERCENT_OF_PARENT + '%',
            'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',
            height: HEIGHT_IN_PERCENT_OF_PARENT + 'vh',
            'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
          });

      var nodes_to_resize = gd3[0]; //not sure why but the goods are within a nested array
      window.onresize = function() {
        for (var i = 0; i < nodes_to_resize.length; i++) {
          Plotly.Plots.resize(nodes_to_resize[i]);
        }
      };
    })();

</script>