<!DOCTYPE html>
<html class="no-js">
<head>
    <title>TrackSelf | Trackers</title>
    {% include 'css.html' %}
</head>
<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo" class="col-sm-2"><a href="/">TrackSelf</a></h1>
                    {% include 'login-state.html' %}
                </div>
            </div>
        </header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Trackers</li>
            </ol>
        </nav>
        <div id="fh5co-contact" class="animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tracker-table" class="table">
                            <thead>
                            <th scope="col">Tracker</th>
                            <th scope="col">Logs</th>
                            <th scope="col">Last Tracked</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            </thead>
                            <tbody>
                            {% for tracker in trackers%}
                            <tr>
                                <th scope="row"><a href="/trackers/{{ tracker['id'] }}">{{ tracker['name'] }}</a></th>
                                <td><a href="/trackers/{{ tracker['id'] }}/logs"><i
                                        class="glyphicon glyphicon-file"></i></a></td>
                                <td>{{ tracker['last_tracked'] }}</td>
                                <td><a href="/trackers/{{ tracker['id'] }}/logs/create"><i
                                        class="glyphicon glyphicon-plus"></i></a></td>
                                <td><a href="/trackers/{{ tracker['id'] }}/update"><i
                                        class="glyphicon glyphicon-pencil"></i></a></td>
                                <td><a href="/trackers/{{ tracker['id'] }}/delete"><i
                                        class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button id="myButton" class="btn btn-primary">Add Tracker</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
document.getElementById("myButton").onclick = function () {
location.href = "/trackers/create";
};
</script>
</body>
</html>