<!DOCTYPE html>
<html lang="en">
<head>
    <style>div{margin: 10px;}</style>
    <meta charset="UTF-8">
    <title>Add Course</title>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<div style="text-align:left;">
<a href="/tracker">Back to Trackers</a>
</div>
<h2>Update Tracker</h2>
<form action="/tracker/{{ tracker['id'] }}/update" method="POST" id="update-tracker-form">
<div>
<label>Name</label>
<input type="text" name="name" value="{{ tracker['name'] }}" required />
</div>
<div>
<label>Description</label>
<input type="text" name="desc" value="{{ tracker['description'] }}"  required />
</div>
<div>
<label>Tracker Type</label>
<select name="type" id="type">
  <option value="default" selected disabled hidden>Type</option>
  <option value="numeric" {% if tracker.type=='numeric'%}selected='selected'{% endif %}>Numerical</option>
  <option value="choice" {% if tracker.type=='choice'%}selected='selected'{% endif %}>Multiple Choice</option>
  <option value="duration" {% if tracker.type=='duration'%}selected='selected'{% endif %}>Time duration</option>
  <option value="boolean" {% if tracker.type=='boolean'%}selected='selected'{% endif %}>Boolean</option>
</select>
</div>
<div>
<label>Settings</label>
<input type="text" name="settings" value="{{ tracker['settings'] }}"  />
</div>
<div>
<input type="submit" value = "Log it">
</div>
</form>
</body>
</html>