<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<head>
    <title>{{ tracker['name'] }} Tracker Details</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<div style="text-align:left;">
<a href="/tracker">Back to Trackers</a>
</div>
<h2>{{ tracker['name'] }} - Tracker</h2>
<label for="period">Filter</label>
<select name="period" id="period" onchange="redirect({{ tracker['id'] }}, document.getElementById('period').value)">
  <option value="1" {% if last_days==1%}selected='selected'{% endif %}>Last 24 hours</option>
  <option value="7" {% if last_days==7%}selected='selected'{% endif %}>Last 7 days</option>
  <option value="30" {% if last_days==30%}selected='selected'{% endif %}>Last 30 days</option>
</select>
<div id="tracking-graph">
<span id="myPlot" style="width:100%;max-width:700px"></span>
</div>
<h2>Logs</h2>
<table id = "tracker-logs">
<thead>
<th>On</th>
<th>Value</th>
<th></th>
<th></th>
<th></th>
</thead>
<tbody>
{% for log in logs%}
<tr>
    <td>{{ log['timestamp'] }}</td>
    <td>{{ log['value'] }}</td>
    <td>{{ log['note'] }}</td>
    <td><a href="/tracker/{{ tracker['id'] }}/log/{{ log['id'] }}/update">Update</a></td>
    <td><a href="/tracker/{{ tracker['id'] }}/log/{{ log['id'] }}/delete">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
    function redirect(tracking_id, value){
        window.location.href=tracking_id.toString().concat('?lastdays=').concat(value);
    }
    function plot(xArray,yArray, type) {
        console.log(type);
        var data = [{
          x: xArray,
          y: yArray,
          mode:"lines"
        }];
        // Define Layout
        var layout = {
          xaxis: {title: "Time stamp"},
          yaxis: {title: "Value"},
          title: "Trend line"
        };
        // Display using Plotly
        Plotly.newPlot("myPlot", data, layout);
    }
    plot({{ timestamps|safe }},{{ values|safe }}, '{{ tracker['type'] }}')
</script>
</body>
</html>