<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trackers</title>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<table id = "tracker-table">
<thead>
<th>Tracker</th>
<th>Last tracked</th>
<th></th>
<th></th>
</thead>
<tbody>
{% for tracker in trackers%}
<tr>
    <td><a href="/tracker/{{ tracker['id'] }}">{{ tracker['name'] }}</a></td>
    <td>{{ tracker['last_tracked'] }}</td>
    <td><a href="/tracker/{{ tracker['id'] }}/log">Add Event</a></td>
    <td><a href="/tracker/{{ tracker['id'] }}/update">Edit Tracker</a></td>
    <td><a href="/tracker/{{ tracker['id'] }}/delete">Delete Tracker</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<button id="myButton" class="float-left submit-button" >Add Tracker</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/tracker/create";
    };
</script>
</body>
</html>