<!DOCTYPE html>
<html>
<head>
    <title>{{ tracker['name'] }} Tracker Details</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<div style="text-align:center;">
<a href="/logout">logout</a>
</div>
<h2>{{ tracker['name'] }} - Tracker</h2>
<div id="tracking-graph">
<select name="period" id="period">
  <option value="default" selected disabled hidden>Period</option>
  <option value="day">Today</option>
  <option value="week">This week</option>
    <option value="month">This month</option>
</select>
</div>
<h2>Logs</h2>
<table id = "tracker-logs">
<thead>
<th>On</th>
<th>Value</th>
<th></th>
<th></th>
</thead>
<tbody>
{% for log in logs%}
<tr>
    <td>{{ log['timestamp'] }}</td>
    <td>{{ log['value'] }}</td>
    <td>{{ log['note'] }}</td>
    <td>
        <select name="action" id="action">
          <option value="default" selected disabled hidden>Action</option>
          <option value="edit">Edit</option>
          <option value="delete">Delete</option>
        </select>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>