<!DOCTYPE html>
<html class="no-js">
<head>
    <title>TrackSelf | Tracker</title>
    {% include 'css.html' %}
</head>
<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                    <h1 id="fh5co-logo" class="col-sm-2"><a href="/">TrackSelf</a></h1>
                    {% include 'login-state.html' %}
                </div>
            </div>
        </header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/trackers">Trackers</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ tracker['name'] }}</li>
            </ol>
        </nav>
        <div id="fh5co-contact" class="animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tracker-table" class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Tracker ID</th>
                                <td>{{ tracker['id'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ tracker['name'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Description</th>
                                <td>{{ tracker['description'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Type</th>
                                <td>{{ tracker['type'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Settings</th>
                                <td>{{ tracker['settings'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="updateButton" class="btn btn-primary" onclick="update_log({{ tracker['id'] }})">Update Tracker</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="deleteButton" class="btn btn-primary" onclick="delete_log({{ tracker['id'] }})">Delete Tracker</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="logsButton" class="btn btn-primary" onclick="read_log({{ tracker['id'] }})">Logs</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function update_log(tracker_id) {
        location.href = "/trackers/" + tracker_id + "/update";
    };
    function delete_log(tracker_id) {
        location.href = "/trackers/" + tracker_id + "/delete";
    };
    function read_log(tracker_id) {
        location.href = "/trackers/" + tracker_id + "/logs";
    };
</script>
</body>
</html>